header{background-color:#0A1D37;
font-size-adjust: 150;border: 2px solid #0A1D37;
color:#FFBD9B;
text-align: center;}

p{background-color: #FFBD9B;
  background-repeat: auto;
font-size: large;
 border: 3px solid #0A1D37;

font-feature-settings: "smcp" on; 
color: #0A1D37}


footer{background-color:#0A1D37;
color:#FFBD9B;
font-size: large;
 border: 6px solid #FFBD9B;
 text-align: center}

nav{ 
  border: 6px solid #FFBD9B;
background-color:  #FFBD9B;
font-size: large;
color:#0A1D37}

.nav { 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

p.thick {
  font-weight: bold;
}
#1stlink{font-display: initial}
